.card {
  transition: box-shadow 0.2s;
  &--hover:hover {
    box-shadow: 0 0 0.5rem rgba($color-black, 0.45);
  }
  .card-heading {
    display: flex;
    justify-content: space-between;
  }
  .custom-fav-button {
    content: none;
    width: 24px;
    z-index: 10;
    color: transparent;
    background-color: transparent;
    border: none;
  }

  .custom-fav-icon {
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    @include respond(phone) {
      top: 0.4rem;
      right: 0.4rem;
      height: 20px;
      width: 20px;
    }
  }

  .custom-rating {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: $color-primary;
  }

  .custom-edit-button {
    g {
      fill: $color-black;
    }
    &:hover {
      g {
        fill: rgba($color-black, 0.5);
      }
    }
  }

  .custom-delete-button {
    g {
      fill: $color-black;
    }
    &:hover {
      g {
        fill: rgba($color-black, 0.5);
      }
    }
  }

  &__img-top {
    width: 100%;
  }
}

#cardOwner {
  text-decoration: none;
  color: $color-primary;
  &:hover {
    color: rgba($color-black, 0.75);
  }
}
