.card {
  .card-heading {
    display: flex;
    justify-content: space-between;

    .custom-fav-icon {
      cursor: pointer;
      background-clip: text;
      -webkit-background-clip: text;
      background-color: black;
      color: transparent;
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
  }
}
