#custom-navbar {
  background-color: rgba($color-primary, 0.9);
  &__logo {
    margin: 0.5rem 0 0 0.5rem;
    font-family: 'Comfortaa', cursive;
    color: $color-white;
  }
}

#homepage-logo {
  margin: 0.5rem 0 0 0.5rem;
  font-family: 'Comfortaa', cursive;
  color: $color-white;
}

#custom-pagination {
  li {
    a {
      color: $color-primary;

      &.active-page {
        background-color: rgba($color-primary, 0.5);
        color: $color-white;
      }
    }
  }
}

// Hide default bootstrap caret for user dropdown
#custom-dropdown {
  a {
    &.dropdown-toggle {
      &::after {
        display: none;
      }
    }
  }

  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 10000;

  &__caret {
    margin-left: -2px;
    g {
      fill: $color-primary;
    }
  }
}
