#custom-navbar {
  background-color: rgba($color-primary, 0.9);
  &__brand {
    &--logo {
      margin: 0.5rem 0 0 0.5rem;
      font-family: 'Comfortaa', cursive;
      color: $color-white;
    }
  }

  &__links {
    @include respond(tab-port) {
      display: none;
    }
  }
}

#homepage-logo {
  margin: 0.5rem 0 0 0.5rem;
  font-family: 'Comfortaa', cursive;
  color: $color-white;
}

#custom-pagination {
  li {
    a {
      color: $color-primary;

      &.active-page {
        background-color: rgba($color-primary, 0.5);
        color: $color-white;
      }
    }
  }
}

// Hide default bootstrap caret for user dropdown
#custom-dropdown {
  a {
    &.dropdown-toggle {
      &::after {
        display: none;
      }
    }
  }

  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 10000;

  @include respond(tab-port) {
    right: 1rem;
    top: 1.5rem;
  }

  @include respond(phone) {
    right: 1rem;
    top: 1.75rem;
  }

  &__caret {
    margin-left: -2px;
    g {
      fill: $color-primary;
    }
  }
}

.custom-button {
  background-color: $color-primary;
  color: $color-white;
  border: none;
  padding: 0.5rem 1rem;
  box-shadow: $box-shadow;
  transition: all 0.2s;
  &:hover {
    color: $color-white;
    @include button-animation-hover;
  }
  &:active,
  &:focus {
    @include button-animation-click;
  }
}
