.primary-heading {
  font-family: $secondary-font;
  font-size: 3rem;
  color: $color-black;
  font-weight: 300;
}
.secondary-heading {
  font-family: $secondary-font;
  font-size: 2rem;
  color: $color-black;
  font-weight: 300;
}
.tertiary-heading {
  font-family: $secondary-font;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: $color-black !important;
}

.quaternary-heading {
  font-family: $secondary-font;
  font-size: 1.25rem;
  text-decoration: none;
}

.subheading {
  font-family: $secondary-font;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: right;
  font-size: 1rem;
}

.card-body {
  font-family: $secondary-font;

  .card-heading {
    h5 {
      color: $color-black;
      font-weight: 600;
    }
  }

  .card-text {
    font-size: 0.875rem;
  }
}
