$color-primary: rgba(26, 74, 160);

$color-white: white;

$color-black: rgba(49, 54, 57, 0.75);

$primary-font: 'Comfortaa', sans-serif;
$secondary-font: 'Raleway', sans-serif;

$box-shadow: 0 0.5rem 1rem rgba($color-black, 0.4);
$box-shadow-grow: 0 0.75rem 1.25rem rgba($color-black, 0.4);
$box-shadow-shrink: 0 0.6rem 1.1rem rgba($color-black, 0.4);
