<% layout('layouts/boilerplate') %>

<div class="row">
  <div class="card">
    <h1 class="text-center mt-2 mb-4 primary-heading">Create A New Book</h1>
    <div class="col-md-6 offset-md-3">
      <!--note that offset-3 essentially centers the column, because it offsets it 3 units from the side, and the column is 6 units wide, leaving 3 units on the other side - Note we've added the enctype="multipart/form-data" to allow for image uploads-->
      <form
        action="/books"
        method="POST"
        class="needs-validation"
        novalidate
        enctype="multipart/form-data"
      >
        <div class="mb-2">
          <label class="form-label" for="title">*Title: </label>
          <input
            class="form-control"
            type="text"
            id="title"
            name="book[title]"
            placeholder="Book Title"
            required
          ><%= book ? book.title : '' %></input>
          <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="mb-2">
          <label class="form-label" for="author">*Author: </label>
          <input
            class="form-control"
            type="text"
            id="author"
            name="book[author]"
            placeholder="Book Author"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="mb-2">
          <label class="form-label" for="location">*Location: </label>
          <input
            class="form-control"
            type="text"
            id="location"
            name="book[location]"
            placeholder="e.g. Los Angeles, California"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="mb-2">
          <label class="form-label" for="genres">Genres: </label>
          <input
            class="form-control"
            type="text"
            id="genres"
            name="book[genres]"
            placeholder="e.g. fantasy, science-fiction, adventure, etc."
          />
          <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="mb-2">
          <label class="form-label" for="language">Language: </label>
          <input
            class="form-control"
            type="text"
            id="language"
            name="book[language]"
            placeholder="English"
          />
          <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="mb-2">
          <label class="form-label" for="pages">Number of Pages: </label>
          <input
            class="form-control"
            type="number"
            id="pages"
            name="book[pages]"
            placeholder="250"
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
                
        <div class="mb-3">
          <label class="form-label" for="description">*Description: </label>
          <textarea
            class="form-control"
            type="text"
            id="description"
            name="book[description]"
            placeholder="This single volume brings together all of Poe's stories and poems, and illuminates the diverse and multifaceted genius of one of the greatest and most influential figures in American literary history..."
            required
          ></textarea>
          <div class="valid-feedback">Looks good!</div>
        </div>

        <!-- <div class="mb-3">
          <label class="form-label" for="imageUrl">Cover Image URL: </label>
          <input class="form-control" type="text" id="imageUrl" name="book[imageUrl]" placeholder="Enter a valid cover image url or upload multiple custom images below">
          <div class="valid-feedback">
              Looks good!
          </div>
        </div> -->

        <!-- Below we set up an input for multiple image upload - note the 'multiple' attribute -->
        <div class="mb-3">
          <div class="form-file custom-file">
            <input
              type="file"
              class="form-file-input"
              id="image"
              name="image"
              multiple
            />
            <label class="form-file-label" for="image">
              <span class="form-file-text custom-file-label"
                >Choose image(s)...</span
              >
              <span class="form-file-button">Browse</span>
            </label>
          </div>
        </div>
        <div class="mb-3">
          <button class="btn btn-success btn-block">Add Book</button>
        </div>
      </form>
    </div>
  </div>
</div>
