<footer class="footer py-3 mt-auto"> <!--setting margin-top to 0 forces the footer to always be at the bottom of the body-->
    <div class="container text-center">
        <span>&copy Coast2CoastCamping 2021</span>
    </div>
</footer>