<header class="p-2 mb-3 border-bottom" id="custom-navbar">
  <div class="container">
    <div class="d-flex align-items-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none" id="custom-navbar__brand">
        <svg 
          xmlns="http://www.w3.org/2000/svg" 
          x="0px" y="0px"
          width="30" height="50"
          viewBox="0 0 172 172"
          style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#FFFFFF"><path d="M19.995,6.88c-1.63937,0.30906 -2.82187,1.76031 -2.795,3.44v17.2h-7.4175c-5.375,0 -9.7825,4.4075 -9.7825,9.7825v114.595c0,5.375 4.4075,9.7825 9.7825,9.7825h57.405c1.62594,2.51281 7.18906,10.32 18.8125,10.32c11.62344,0 17.18656,-7.80719 18.8125,-10.32h57.405c5.375,0 9.7825,-4.4075 9.7825,-9.7825v-114.595c0,-5.375 -4.4075,-9.7825 -9.7825,-9.7825h-7.4175v-17.2c0,-1.89469 -1.54531,-3.44 -3.44,-3.44c-26.25687,0 -43.215,5.30781 -53.6425,10.75c-5.21375,2.72781 -8.76125,5.38844 -11.0725,7.525c-0.28219,0.25531 -0.40312,0.40313 -0.645,0.645c-0.24187,-0.24187 -0.36281,-0.38969 -0.645,-0.645c-2.31125,-2.13656 -5.85875,-4.79719 -11.0725,-7.525c-10.4275,-5.44219 -27.38562,-10.75 -53.6425,-10.75c-0.1075,0 -0.215,0 -0.3225,0c-0.1075,0 -0.215,0 -0.3225,0zM24.08,13.975c23.17969,0.47031 38.09531,5.03906 46.9775,9.675c4.67625,2.43219 7.79375,4.93156 9.675,6.665c1.47813,1.35719 1.6125,1.74688 1.8275,2.0425v109.5425c-2.28437,-1.24969 -4.78375,-2.64719 -8.9225,-4.085c-9.80937,-3.39969 -25.89406,-6.54406 -49.5575,-6.88zM147.92,13.975v116.96c-23.66344,0.33594 -39.74812,3.48031 -49.5575,6.88c-4.13875,1.43781 -6.63812,2.83531 -8.9225,4.085v-109.5425c0.215,-0.29562 0.34938,-0.68531 1.8275,-2.0425c1.88125,-1.73344 4.99875,-4.23281 9.675,-6.665c8.88219,-4.63594 23.79781,-9.20469 46.9775,-9.675zM9.7825,34.4h7.4175v99.76c0,1.89469 1.54531,3.44 3.44,3.44c25.34313,0 41.36063,3.37281 50.8475,6.665c4.74344,1.63938 7.78031,3.25188 9.675,4.4075c1.47813,0.90031 2.02906,1.31688 2.2575,1.505c0.76594,0.83313 1.89469,1.23625 3.01,1.075c0.04031,0 0.06719,0 0.1075,0c0.55094,-0.09406 1.06156,-0.30906 1.505,-0.645c0.28219,-0.17469 0.5375,-0.38969 0.7525,-0.645c0.36281,-0.28219 0.98094,-0.645 2.0425,-1.29c1.89469,-1.15562 4.93156,-2.76812 9.675,-4.4075c9.48688,-3.29219 25.50438,-6.665 50.8475,-6.665c1.89469,0 3.44,-1.54531 3.44,-3.44v-99.76h7.4175c1.63938,0 2.9025,1.24969 2.9025,2.9025v114.595c0,1.65281 -1.26312,2.9025 -2.9025,2.9025h-59.0175c-1.23625,-0.01344 -2.39187,0.645 -3.01,1.72c0,0 -4.79719,8.6 -14.19,8.6c-9.39281,0 -14.19,-8.6 -14.19,-8.6c-0.61812,-1.075 -1.77375,-1.73344 -3.01,-1.72h-59.0175c-1.63937,0 -2.9025,-1.24969 -2.9025,-2.9025v-114.595c0,-1.65281 1.26313,-2.9025 2.9025,-2.9025z"></path></g></g></svg>
        <h3 id="custom-navbar__brand--logo" class="mb-0">boox</h3>
      </a>

      <ul class="nav col-12 col-lg-auto ms-lg-auto me-lg-5 mb-2 justify-content-end mb-md-0 pe-2" id="custom-navbar__links">
        <li><a href="/books/map" class="nav-link link-light">Map</a></li>
        <li><a href="/books" class="nav-link link-light">Borrow</a></li>
        <li><a href="/books/new" class="nav-link link-light">Offer</a></li>
        <% if (!currentUser) { %>
          <a class="nav-link link-light" href="/login">Login</a>
          <a class="nav-link link-light" href="/register">Register</a>
          <% } %>
      </ul>
<!-- 
      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form> -->
      
      <% if (currentUser) { %> 
      <div class="dropdown text-end" id="custom-dropdown">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <% if (currentUser.profile.images[0]) { %> 
          <img id="custom-dropdown-toggle" src="<%= currentUser.profile.images[0].url %> " alt="mdo" width="32" height="32" class="rounded-circle">
          <% } else { %> 
            <svg xmlns="http://www.w3.org/2000/svg" style="opacity: 0.75;" x="0px" y="0px" width="32" height="32" 
                width="130" class="rounded mb-2 img-thumbnail"
                viewBox="0 0 172 172" style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g><path d="M169.34609,86c0,-46.02344 -37.32266,-83.34609 -83.34609,-83.34609c-46.02344,0 -83.34609,37.32266 -83.34609,83.34609c0,46.02344 37.32266,83.34609 83.34609,83.34609c46.02344,0 83.34609,-37.32266 83.34609,-83.34609z" fill="#1a4aa0"></path><path d="M49.08047,60.97266c0,-4.66953 1.51172,-9.40625 4.50156,-14.21016c2.98984,-4.80391 7.39063,-8.76797 13.13516,-11.92578c5.74453,-3.15781 12.46328,-4.73672 20.15625,-4.73672c7.12187,0 13.4375,1.31016 18.87969,3.96406c5.47578,2.62031 9.675,6.21484 12.66484,10.75c2.98984,4.53516 4.46797,9.43984 4.46797,14.74766c0,4.19922 -0.83984,7.86094 -2.55312,10.98516c-1.71328,3.15781 -3.72891,5.87891 -6.04687,8.16328c-2.35156,2.28438 -6.51719,6.14766 -12.59766,11.55625c-1.67969,1.51172 -3.02344,2.85547 -4.03125,4.03125c-1.00781,1.14219 -1.74688,2.21719 -2.25078,3.15781c-0.50391,0.97422 -0.87344,1.91484 -1.14219,2.88906c-0.26875,0.97422 -0.67187,2.65391 -1.20938,5.07266c-0.94062,5.10625 -3.86328,7.69297 -8.76797,7.69297c-2.55313,0 -4.70312,-0.83984 -6.45,-2.51953c-1.74687,-1.67969 -2.62031,-4.16563 -2.62031,-7.45781c0,-4.13203 0.63828,-7.72656 1.91484,-10.75c1.27656,-3.02344 2.98984,-5.67734 5.10625,-7.96172c2.11641,-2.28437 4.97187,-5.00547 8.56641,-8.16328c3.15781,-2.75469 5.40859,-4.8375 6.81953,-6.24844c1.41094,-1.41094 2.58672,-2.95625 3.52734,-4.70312c0.97422,-1.71328 1.44453,-3.59453 1.44453,-5.61016c0,-3.93047 -1.47812,-7.25625 -4.40078,-9.97734c-2.92266,-2.72109 -6.71875,-4.06484 -11.32109,-4.06484c-5.40859,0 -9.40625,1.37734 -11.95938,4.09844c-2.55312,2.72109 -4.73672,6.75234 -6.48359,12.06016c-1.67969,5.57656 -4.8375,8.33125 -9.50703,8.33125c-2.75469,0 -5.07266,-0.97422 -6.9875,-2.92266c-1.88125,-1.88125 -2.85547,-3.96406 -2.85547,-6.24844zM85.12656,141.86641c-2.98984,0 -5.61016,-0.97422 -7.86094,-2.92266c-2.25078,-1.94844 -3.35937,-4.66953 -3.35937,-8.16328c0,-3.09063 1.075,-5.71094 3.25859,-7.82734c2.15,-2.11641 4.8375,-3.15781 7.96172,-3.15781c3.09063,0 5.71094,1.075 7.82734,3.15781c2.11641,2.11641 3.15781,4.73672 3.15781,7.82734c0,3.46016 -1.10859,6.14766 -3.32578,8.12969c-2.21719,1.98203 -4.77031,2.95625 -7.65937,2.95625z" fill="#ffffff"></path></g></g></svg>
        <% } %> 
          <svg xmlns="http://www.w3.org/2000/svg" id="custom-dropdown__caret" x="0px" y="0px" width="24" height="24" 
          viewBox="0 0 172 172" style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M53.24609,68.08333l-10.75,10.75l43.50391,43.5039l43.5039,-43.5039l-10.75,-10.75l-32.7539,32.7539z"></path></g></g></svg>
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="/books/new">Offer</a></li>
          <li><a class="dropdown-item" href="/profile/<%= currentUser._id %> ">Profile</a></li>
          <li><a class="dropdown-item" href="/books/map">Map</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/logout">Sign out</a></li>
        </ul>
      </div>
      <% } %> 
    </div>
  </div>
</header>