<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coast2CoastCamping</title>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link 
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="d-flex text-center text-white bg-dark" id="home-page">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" id="header-container">
        <header class="mb-auto mt-2 d-flex justify-content-between align-items-center">
            <div class="d-flex">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                width="30" height="50"
                viewBox="0 0 172 172"
                style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#FFFFFF"><path d="M19.995,6.88c-1.63937,0.30906 -2.82187,1.76031 -2.795,3.44v17.2h-7.4175c-5.375,0 -9.7825,4.4075 -9.7825,9.7825v114.595c0,5.375 4.4075,9.7825 9.7825,9.7825h57.405c1.62594,2.51281 7.18906,10.32 18.8125,10.32c11.62344,0 17.18656,-7.80719 18.8125,-10.32h57.405c5.375,0 9.7825,-4.4075 9.7825,-9.7825v-114.595c0,-5.375 -4.4075,-9.7825 -9.7825,-9.7825h-7.4175v-17.2c0,-1.89469 -1.54531,-3.44 -3.44,-3.44c-26.25687,0 -43.215,5.30781 -53.6425,10.75c-5.21375,2.72781 -8.76125,5.38844 -11.0725,7.525c-0.28219,0.25531 -0.40312,0.40313 -0.645,0.645c-0.24187,-0.24187 -0.36281,-0.38969 -0.645,-0.645c-2.31125,-2.13656 -5.85875,-4.79719 -11.0725,-7.525c-10.4275,-5.44219 -27.38562,-10.75 -53.6425,-10.75c-0.1075,0 -0.215,0 -0.3225,0c-0.1075,0 -0.215,0 -0.3225,0zM24.08,13.975c23.17969,0.47031 38.09531,5.03906 46.9775,9.675c4.67625,2.43219 7.79375,4.93156 9.675,6.665c1.47813,1.35719 1.6125,1.74688 1.8275,2.0425v109.5425c-2.28437,-1.24969 -4.78375,-2.64719 -8.9225,-4.085c-9.80937,-3.39969 -25.89406,-6.54406 -49.5575,-6.88zM147.92,13.975v116.96c-23.66344,0.33594 -39.74812,3.48031 -49.5575,6.88c-4.13875,1.43781 -6.63812,2.83531 -8.9225,4.085v-109.5425c0.215,-0.29562 0.34938,-0.68531 1.8275,-2.0425c1.88125,-1.73344 4.99875,-4.23281 9.675,-6.665c8.88219,-4.63594 23.79781,-9.20469 46.9775,-9.675zM9.7825,34.4h7.4175v99.76c0,1.89469 1.54531,3.44 3.44,3.44c25.34313,0 41.36063,3.37281 50.8475,6.665c4.74344,1.63938 7.78031,3.25188 9.675,4.4075c1.47813,0.90031 2.02906,1.31688 2.2575,1.505c0.76594,0.83313 1.89469,1.23625 3.01,1.075c0.04031,0 0.06719,0 0.1075,0c0.55094,-0.09406 1.06156,-0.30906 1.505,-0.645c0.28219,-0.17469 0.5375,-0.38969 0.7525,-0.645c0.36281,-0.28219 0.98094,-0.645 2.0425,-1.29c1.89469,-1.15562 4.93156,-2.76812 9.675,-4.4075c9.48688,-3.29219 25.50438,-6.665 50.8475,-6.665c1.89469,0 3.44,-1.54531 3.44,-3.44v-99.76h7.4175c1.63938,0 2.9025,1.24969 2.9025,2.9025v114.595c0,1.65281 -1.26312,2.9025 -2.9025,2.9025h-59.0175c-1.23625,-0.01344 -2.39187,0.645 -3.01,1.72c0,0 -4.79719,8.6 -14.19,8.6c-9.39281,0 -14.19,-8.6 -14.19,-8.6c-0.61812,-1.075 -1.77375,-1.73344 -3.01,-1.72h-59.0175c-1.63937,0 -2.9025,-1.24969 -2.9025,-2.9025v-114.595c0,-1.65281 1.26313,-2.9025 2.9025,-2.9025z"></path></g></g></svg>
                <h3 class="mb-0 mt-2 ml-2" id="custom-brand-name">boox</h3>
            </div>
            <nav class="nav nav-masthead justify-content-center float-md-right">
                <a class="nav-link active" aria-current="page" href="#" id="home-button">Home</a>
                <a class="nav-link" href="/campgrounds">Books</a>
                <a class="nav-link" href="/campgrounds/map">Map</a>
                <% if(!currentUser) { %>
                <a class="nav-link" href="/login">Login</a>
                <a class="nav-link" href="/register">Register</a>
                <% } else { %>
                <a class="nav-link" href="/logout">Logout</a>
                <% } %>
            </nav>
        </header>
        <main class="px-3" id="custom-header">
            <h1 id="custom-header__title">boox</h1>
            <h2 id="custom-header__subtitle">Make the world your library</h2>
            <p id="custom-header__content">Exchange, review and discuss books everywhere!</p>
            <a href="/campgrounds" class="btn btn-lg btn-secondary border-white bg-white" id="custom-header__button">Check it out</a>
        </main>

        <footer class="mt-auto text-white-50">
            <p>&copy; Coast2CoastCamping 2021</p>
        </footer>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
    <script>
        let container = document.getElementById('header-container');
        let homeButton = document.getElementById('home-button');
        
        const resizeFunc = function () {
            if (window.screen.width < 650) {
                container.classList.remove('cover-container');
                homeButton.classList.add('home-button');
            } else if (window.screen.width >= 650) {
                container.classList.add('cover-container');
                homeButton.classList.remove('home-button');
            }
        }

        window.addEventListener('resize', resizeFunc);

        if (window.screen.width < 650) {
            container.classList.remove('cover-container');
            homeButton.classList.add('home-button');
        }

    </script>
</body>

</html>
