<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="card shadow">
        <h1 class="text-center mt-2">Create A New Campground</h1>
        <div class="col-md-6 offset-md-3"> <!--note that offset-3 essentially centers the column, because it offsets it 3 units from the side, and the column is 6 units wide, leaving 3 units on the other side - Note we've added the enctype="multipart/form-data" to allow for image uploads-->
            <form action="/campgrounds" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
                <div class="mb-2">
                    <label class="form-label" for="title">Title: </label>
                    <input class="form-control" type="text" id="title" name="campground[title]" placeholder="Campsite Name" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
    
                <div class="mb-2">
                    <label class="form-label" for="location">Location: </label>
                    <input class="form-control" type="text" id="location" name="campground[location]" placeholder="e.g. Los Angeles, California" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <!-- <div class="mb-3">
                    <label class="form-label" for="image">Image URL: </label>
                    <input class="form-control" type="text" id="image" name="campground[image]" placeholder="Campsite Image" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div> -->
                <div class="mb-2">
                    <label class="form-label" for="price">Campground Price: </label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">$</span>
                        <input type="text" class="form-control" placeholder="0.00" id="price" name="campground[price]" aria-label="Price" aria-describedby="price-label" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description: </label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]" placeholder="Description..." required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <!-- Below we set up an input for multiple image upload - note the 'multiple' attribute -->
                <div class="mb-3">
                    <div class="form-file custom-file">
                        <input type="file" class="form-file-input" id="image" name="image" multiple>
                        <label class="form-file-label" for="image">
                            <span class="form-file-text custom-file-label">Choose image(s)...</span>
                            <span class="form-file-button">Browse</span>
                        </label>
                    </div>
                </div>            
                <div class="mb-3"><button class="btn btn-success btn-block">Add Campground</button></div>
            </form>
        </div>
    </div>
</div>
