/*
MEDIA QUERY MANAGER
0  600px:       Phone               phone
600 - 900px:    Tablet portrait     tab-port
900 - 1200px:   Tablet Landscape    tab-land
1200 - 1800px:  Default             
1800px+:        XL                  desktopXL

Note that we use ems in media queries, not rems, because rems have unexpected issues when used in media queries

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
#home-page {
  height: 100vh;
  background-image: url("../images/bookstack.jpg");
  background-size: cover;
  background-position: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.cover-container {
  max-width: 95vw;
}

.nav-link {
  padding: 0.25rem 0;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.75);
  margin-left: 1rem;
  border-bottom: 0.1rem solid transparent;
}

@media only screen and (max-width: 400px) {
  .nav-link {
    font-size: 0.9rem;
  }
}
.nav-link:hover {
  color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

.nav-link.active {
  color: white;
  border-bottom-color: white;
}

.btn-secondary,
.btn-secondary:hover {
  color: #333;
  text-shadow: none;
  transition: all 0.2s;
}

.btn-secondary:hover {
  transform: translateY(-3px);
}

.btn-secondary:active {
  transform: translateY(-1px);
}

.home-button {
  display: none;
}

.mapShow {
  width: 100%;
  height: 250px;
}

.map-cluster {
  width: 100%;
  height: calc(100vh - 65px - 56px);
  position: absolute;
  top: 65px;
  left: 0px;
}

.indexImage {
  width: 100%;
  height: 100%;
  max-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 278px;
}

.carouselCustom {
  display: flex;
  align-items: bottom;
  max-height: 250px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .cardHeight {
    max-height: 100%;
  }
}
@media (max-width: 992px) {
  .carouselCustom {
    display: flex;
    align-items: center;
    max-height: 340px;
    overflow: hidden;
    position: center;
  }
}
.customBackground {
  background-color: rgba(26, 74, 160, 0.9);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer {
  z-index: 1020;
}

.btn-tertiary,
.btn-tertiary:hover {
  transition: all 0.2s;
}

.btn-tertiary:hover {
  transform: translateY(-3px);
}

.btn-tertiary:active {
  transform: translateY(-1px);
}

.backToTop {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  font-size: 3rem;
  cursor: pointer;
}

.link,
.link:visited {
  color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  transition: color 0.2s;
}

.link:hover {
  color: rgba(0, 0, 0, 0.8);
}

#custom-navbar {
  background-color: rgba(26, 74, 160, 0.9);
}

#custom-btn {
  background-color: #1378a9;
}

#custom-brand-name {
  font-family: "Comfortaa", cursive;
  color: white;
}

div a.dropdown-toggle::after {
  display: none;
}