<% layout('layouts/boilerplate') %>

<div class="container d-flex justify-content-center align-items-center mt-4">
    <div class="row">
            <div class="card shadow mb-5 pt-2">
                <img src="images/books.jpg" alt="" class="card__img-top">
                <div class="card-body">
                    <h5 class="card-title tertiary-heading mb-3">Login</h5>
                    <form action="/login" class="needs-validation" method="POST" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="title">Username: </label>
                            <input class="form-control" type="text" id="username" name="username" placeholder="Username" required autofocus>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password: </label>
                            <input class="form-control" type="password" id="password" name="password" placeholder="Password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3"><button class="btn custom-button custom-button--large custom-button--large-grayscale w-100 mt-3">Login</button></div>
                    </form>
                </div>
            </div>
        </div>
</div>



